.bg {
	&-center {
		background-position: center;
	}

	&-cover {
		background-size: cover;
	}

	&-danger {
		background-color: var(--bg-danger-color);
	}

	&-image {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&-no-repeat {
		background-repeat: no-repeat;
	}

	&-success {
		background-color: var(--bg-success-color);
	}

	&-white {
		background-color: var(--bg-white-color);
	}
}
