$direction-map: (
	b: -bottom,
	e: -right,
	s: -left,
	t: -top,
	"": "",
);

$spacing: 1rem;
$spacing-map: (
	0: 0,
	1: $spacing * 0.25,
	2: $spacing * 0.5,
	3: $spacing,
	4: $spacing * 1.5,
	5: $spacing * 3,
	auto: auto,
);

// Margin and padding
@each $name, $at in (m: margin, p: padding) {
	@each $direction, $attr in $direction-map {
		@each $num, $value in $spacing-map {
			@if ($num == 0) {
				.#{$name}#{$direction}-#{$num} {
					#{$at}#{$attr}: $value !important;
				}
			} @else {
				.#{$name}#{$direction}-#{$num} {
					#{$at}#{$attr}: $value;
				}

				.#{$name}#{$direction}-#{$num}-important {
					#{$at}#{$attr}: $value !important;
				}
			}
		}
	}

	@if ($name == m) {
		@each $num, $value in $spacing-map {
			.m-n#{$num} {
				margin: -$value;
			}
		}
	}
}

// Position
.position {
	@each $pos in absolute, fixed, relative, sticky {
		&-#{$pos} {
			position: $pos;
		}
	}
}

.b-0 {
	bottom: 0;
}

.l-0 {
	left: 0;
}

.r-0 {
	right: 0;
}

.t-0 {
	top: 0;
}
