body,
div,
html {
	&::-webkit-scrollbar {
		height: 6px !important;
		width: 6px !important;

		&:hover {
			height: 6px !important;
			width: 6px !important;
		}
	}

	&::-webkit-scrollbar-track,
	&::-webkit-scrollbar-track-piece {
		background-color: #ffffff !important;
		border-radius: 4px !important;
	}

	&::-webkit-scrollbar-thumb {
		background-color: gray !important;
		border-radius: 4px !important;

		&:hover {
			background-color: red !important;
		}
	}
}

textarea,
.noscrollbar {
	&::-webkit-scrollbar {
		display: none !important;
		height: 0px !important;
		width: 0px !important;
	}
}

@media (max-width: 768px) {
	.noscrollbar-sm::-webkit-scrollbar {
		width: 0px !important;
		height: 0px !important;
		display: none !important;
	}
}