$spacing: 1rem;
$h-size-map: (
	1: $spacing * 2.5,
	2: $spacing * 2,
	3: $spacing * 1.75,
	4: $spacing * 1.5,
	5: $spacing * 1.25,
	6: $spacing,
);

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 0.5rem;
	margin-top: 0;
}

@each $size, $value in $h-size-map {
	h#{$size} {
		font-size: $value;
	}
}

p,
span,
.text-wrap {
	word-break: break-word !important;
}

.text-bold {
	font-weight: bold;
}

.text-center {
	text-align: center !important;
}

.text-danger {
	color: #dc3545;
}

.text-secondary {
	color: #6c757d;
}

.text-regular {
	font-weight: 400 !important;
}

.text-success {
	color: #198754;
}

.text-white {
	color: white;
}
