:root {
	--body-color: rgb(230, 232, 231);
	--bg-danger-color: #f56c6c;
	--bg-success-color: #67c23a;
	--bg-white-color: #fff;
}

html.dark:root {
	--body-color: unset;
	--bg-white-color: rgb(25, 25, 25);
}
